body{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    height: 100%;
    background-color: hsl(294, 100%, 96%);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo{
    display: flex;
    align-items: center;
}

.logoImg{
    height: 100px;
    margin-right: 5px;
    margin-top: 10px;
}

nav a{
    padding-right: 10px;
}

nav a:hover{ 
    color: rgb(232, 108, 205);
}

.imagenPagina{
    display: flex;
    align-items: center;
} 

.container-slider{
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #f4e0f9, 0 15px 50px; 
    position: relative;
}

.slider__img{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover; 
}

.main{
    margin-top: 100px;
    padding: 15px;

}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 30px; 
}

.caja{
    border: 1px solid rgb(204, 67, 177);
    background-color: #eccef4;
    border-radius: 20px;
    height: 100px;
    justify-content: space-between;
    line-height: 100px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #b979ca;
}
.textoTrabajo{
    align-items: center;  
    justify-content: center;
    padding: 0 250px;
    margin-bottom: 35px;
    font-size: 20px;
}

.textoHorarios{
    padding: 0 250px;
    margin-bottom: 35px;
    font-size: 20px;
} 

.textoNosotros{
    padding: 0 250px;
    margin-bottom: 35px;
    font-size: 20px;
}

.audio{
    align-items: center;
    text-align: center;
}

.pie-pagina{
    width: 100%;
    height: 50%;
    background-color: rgb(217, 151, 216);
    margin-top: 30px;
    padding: 5px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 60px;
    padding: 5px;
    
}

.pie-pagina .grupo-1 .box figure{
    width: 50%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 100%;
    height: 200px;
}

.pie-pagina .grupo-1 .box h2{
    color: rgb(242, 235, 235);
    margin-bottom: 25px;
    font-size: 30px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 15px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 35px;
    text-align: center;
    color: #fff;
    margin-right: 40px;
    margin-left: 150px;
    margin-top: 20px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}

.pie-pagina .grupo-2{
    background-color: rgb(233, 204, 249);
    padding: 15px 10px;
    text-align: center;
    font-size: 10px;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

button{
    background-color: #b979ca;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

button:hover{
    color: rgb(21, 13, 20);
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

    .caja{
        width: 100%;
        height:90%;
    }
}

